/*SEÇÃO VEÍCULOS*/

.container-veiculos{

    max-width: 300px;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}

section#capa-veiculos{
    grid-area: capa-mustang;
    background: linear-gradient(to bottom, #001127d0, transparent), url(../img/capa-veiculos.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-height: 750px;
    box-sizing: border-box;
    margin-top: 30px;  
}

section#categories{
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 25px;
}

section.box-cars{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-bottom: 100px;
}

section.box-cars > img{
    max-width: 250px;
    padding: 40px;
}