/*SEÇÃO VEÍCULOS*/

.container-veiculos{

    max-width: 300px;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'veiculos veiculos veiculos veiculos'

        'rodape rodape rodape rodape'
    ;
}

section#capa-veiculos{
    grid-area: capa-mustang;
    background: linear-gradient(to bottom, #001127d0, transparent), url(../img/capa-veiculos.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-height: 750px;
    box-sizing: border-box;
    margin-top: 30px;  
}

section#vehicle{
    grid-area: veiculos;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 25px;

}

section#box-cars{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-bottom: 100px;
}

section#box-cars > img{
    background-color: lightgray;
    max-width: 250px;
    padding: 40px;
}
